*{
  margin : 0;
}

.box {
  border : 2px solid black;
  height: 450px;
  width: 300px;
  display: flex;
}

.timeOps {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.brkBox {
  border : 2px solid black;
}